button {
  border: none;
}

.w-full {
  width: 100%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800;
}

.line-height-20 {
  line-height: 20px;
}

.text-align-center {
  text-align: center;
}

.white-space-normal {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-right-3 {
  margin-right: 3px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-box {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-y-1 {
  row-gap: 0.25rem;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid;
}
